/* Area di scorrimento */
#outer-gal {
	width: 630px;
	height:110px;
	
	margin: 10px 0 0 0;
	padding: 0;
	clear:both;
	background-color:#322F31;
	}

#left
{
width:610px;
height:80px;
overflow: hidden;
margin: 5px 0 0 10px;
padding: 0px;
clear:both;
}

#left img
{
height:80px;
margin: 0px;
border: 0px;
clear:both;
}

#clear-gal
{
height: 5px;
clear:both;
}

	
/* Area di scorrimento */
#right {
	width: 500px;
	height: 100px;
	overflow: hidden;
	border: 3px solid black;
	padding: 0px;
	clear:both;
	}

/* Immagini */
#right img {
	height: 100px;
	margin: 0px;
	border: 0px;
	clear:both;
	}
	
/* Area di scorrimento */
#top {
	width: 160px;
	height: 300px;
	overflow: hidden;
	border: 3px solid black;
	padding: 0px;
	clear:both;
	}

/* Immagini */
#top img {
	width: 160px;
	margin: 0px;
	border: 0px;
	clear:both;
	}
	
/* Area di scorrimento */
#bottom {
	width: 160px;
	height: 300px;
	overflow: hidden;
	border: 3px solid black;
	padding: 0px;
	clear:both;
	}

/* Immagini */
#bottom img {
	width: 160px;
	margin: 0px;
	border: 0px;
	clear:both;
	}
